<h1>Device</h1>
<p>ID: {{ device.id }}</p>
<p>Name: {{ device.name }}</p>

@if (device.network_config) {
    <h2>Network Configuration</h2>
    <p>IP: {{ device.network_config.ip_address }}</p>
    <p>Port: {{ device.network_config.port }}</p>
}

<h2>Tags</h2>
@for (tag of device.tags; track tag.id) {
    <h3>{{ tag.name }}</h3>
    <p>ID: {{ tag.id }}</p>
    <p>Current Value: {{ tag.value_int ?? tag.value_float ?? tag.value_bool ?? tag.value_string ?? 'NULL' }}</p>

    @for (config of tag.device_configs; track config.id) {
        @if (config.protocol_name === 'MQTT') {
            <h4>MQTT</h4>
            <p>Address: {{ config.address }}</p>
        } @else if (config.protocol_name === 'Modbus') {
            <h4>Modbus</h4>
            <p>Slave ID: {{ config.slave_id }}</p>
            <p>Register: {{ config.register }}</p>
        }
    }
} @empty {
    <p>No tags</p>
}
