.content {
    margin-top: 2rem;
    padding: 0 2rem;
    height: 100%;
}

main {
    height: 100%;
}

nav {
    margin-bottom: 2rem;
}

footer {
    margin-bottom: 1rem;
    padding: 0 2rem;
}

.mat-drawer-container {
    height: 100%;
}
